﻿@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/responsive.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")">
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
</head>
<body class="home-one">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="logo">
                        <a href="@Url.Content("~/")"><img src="@Url.Content("~/Content/img/logo/logo.png")"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="search-form">
                        <form id="search-form" method="get" data-ajax="true" data-ajax-target="#SectionCategoryList">
                            <input id="search-filter" type="search" placeholder="Wpisz czego szukasz..." name="searchQ"
                                   data-autocomplete-source="@Url.Action("CoursesHints","Courses")" />

                            <button type="submit"><i class="fa fa-search"></i>Szukaj...</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="header-right-menu">
                        <ul class="header-r-account header-menu">
                            <li>
                                <a href="#."><i class="fa fa-user"></i>Moje konto<i class="fa fa-angle-down"></i></a>
                                <ul class="header-dropdown">
                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()


                                            <li>
                                                @Html.ActionLink("cześć " + User.Identity.GetUserName() + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Home" })
                                            </li>
                                            <li><a style="color:white" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

                                        }
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Zaloguj się", "Login", "Account")</li>
                                        <li>@Html.ActionLink("Utwórz konto", "Register", "Account")</li>
                                    }
                                </ul>
                            </li>
                        </ul>
                        <!-- koszyk -->
                        <ul class="header-r-cart">
                            <li>
                                <a class="cart" href="@Url.Content("~/Basket")"><i class="fa fa-shopping-cart"></i>Koszyk : <label id="BucketPrice">@Html.Action("GetPriceBasket", "Basket")</label> zł<span id="BucketCount">@Html.Action("CountBasket", "Basket")</span></a>
                            </li>

                        </ul>
                        <!-- koszyk koniec -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <p>
                        <a href="@Url.Action("StaticSites", "Home", new { name = "Pomoc" })">Pomoc</a> |
                        <a href="@Url.Action("StaticSites", "Home", new { name = "Onas" })">O nas</a> |
                        <a href="@Url.Action("StaticSites", "Home", new { name = "Kontakt" })">Kontakt</a>
                    </p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <p>Copyright ©  <a href="#">Sklep z kurasami</a>. Wszelkie prawa zastrzeżone</p>
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)

</body>

@System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")
</html>

<script>
    $(function () {

        var setupAutoComplete = function () {
            var $input = $(this);

            var options =
                {
                    source: $input.attr("data-autocomplete-source"),
                    select: function (event, ui) {
                        $input = $(this);
                        $input.val(ui.item.label);

                        window.location.replace('@Url.Content("~/")' + 'course-' + ui.item.courseId+'.html');
                        //var $form = $input.parents("form:first");
                        //$form.submit();
                    }
                };

            $input.autocomplete(options);
        };

        var ajaxSubmit = function () {

            var $form = $(this);

            window.location.replace('@Url.Content("~/")' + 'Courses/Lists?searchQ=' + $('#search-filter').val());

            //var settings = {
            //    data: $(this).serialize(),
            //    url: $(this).attr("action"),
            //    type: $(this).attr("method")
            //};

            //$.ajax(settings).done(function (result) {
            //    var $targetElement = $($form.data("ajax-target"));
            //    var $newContent = $(result);
            //    $($targetElement).replaceWith($newContent);
            //    $newContent.effect("slide");
            //});

            return false;
        };

        $("#search-filter").each(setupAutoComplete);
        $("#search-form").submit(ajaxSubmit);
    });
</script>