﻿@model List<CoursesStore.Models.BasketItem>

@foreach (var item in Model)
{
    <tr data-id="@item.Course.CourseId" >
        <td class="p-action" ><a href="#"><i class="fa fa-times"></i></a></td>
        <td class="p-image">
            <a href="@Url.Action("Details", "Courses", new { coursesId = item.Course.CourseId } )"><img src="@Url.Content("~/Content/img/product/" + item.Course.ImageFileName)"></a>
        </td>
        <td class="p-name"><a href="@Url.Action("Details", "Courses", new { coursesId = item.Course.CourseId } )">@item.Course.CourseTitle</a></td>
        <td class="p-amount"><span  class="amount">@item.Course.CoursePrice</span> zł</td>
        <td class="p-amount"><span class="amount">@item.Course.DiscountPercentage</span> %</td>
        <td class="p-quantity" ><input class="quantity" type="number" min="1" max="99"  value="@item.Count" /></td>
        <td class="p-total"><span  class="item-totalPrice">@item.TotalPrice</span> zł</td>
    </tr>
}
