﻿@using CoursesStore.Infrastructure
@model CoursesStore.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Sklep z kursami programowania";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Category Service Area Start-->
<section class="cat-service-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="cat-menu">
                    <ul id="category">
                        <li class="cat-title"><a href="#">Kategorie</a></li>
                        @foreach (var category in Model.Categories)
                        {
                            <li>
                                <a href="@Url.Action("Lists", "Courses", new { categoryName = category.CategoryName.ToLower() })">
                                    @category.CategoryName
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                
                <img src="@Url.Content("~/Content/img/banner/banner-1.jpg")">
            </div>

        </div>
    </div>
</section>

<br />
<br />
<!-- najnowsze produkt -->

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="arrival-heading">
                <h2>Najnowsze kursy:</h2>
            </div>
        </div>
        @foreach (var newProduct in Model.News)
        {
            <div class="col-md-3">
                <div class="single-product">
                    <!-- Metoda, kontroler, parametr -->
                    <a href="@Url.Action("Details", "Courses", new { coursesId = newProduct.CourseId } )">
                        <img class="primary-img" src="@Url.MyImagePath(newProduct.ImageFileName)">
                    </a>
                    <div class="product-info">
                        <h4><a href="@Url.Action("Details", "Courses", new { coursesId = newProduct.CourseId } )"> @newProduct.CourseTitle</a></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h5>@newProduct.CoursePrice</h5>
                        <div class="n-a-btn add-to-cart" data-id="@newProduct.CourseId"><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</a></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<br />
<br />
<!-- Bestseller -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="arrival-heading">
                <h2>Bestsellery:</h2>
            </div>
        </div>
        <div class="clear"></div>

        @foreach (var bS in Model.Bestsellers)
        {
            <div class="col-md-3">
                <div class="single-product">
                    <a href="@Url.Action("Details", "Courses", new { coursesId = bS.CourseId })">
                        <img class="primary-img" src="@Url.MyImagePath(bS.ImageFileName)" )">
                    </a>
                    <div class="product-info">
                        <h4><a href="#">@bS.CourseTitle</a></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h5>@bS.CoursePrice</h5>

                        <div class="n-a-btn add-to-cart" data-id="@bS.CourseId"><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</a></div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Bestseller koniec -->
<br />
<br />

@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")
@System.Web.Optimization.Scripts.Render("~/bundles/Courses")
}