﻿
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   
    <div class="contact-us-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="p-widget-title compare">
                        <div class="left-sidebar-title"><h3>Dane kontaktowe:</h3></div>
                    </div>
                    <aside>
                        <p>
                            Sklep z kursami Sp. z o.o.
                        </p>
                        <p>
                            88-888 Miesjcość ul. Jakaś 6
                        </p>
                        <p>
                            NIP: 123456789
                        </p>
                        <p>
                            e-mail: kontakt@sklepzkurasami.pl
                        </p>
                        <p>
                            tel. +48 731 999 111
                        </p>

                    </aside>
                </div>
                    <div class="col-lg-9 col-md-9">

                        <br/>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d312779.9431310756!2d20.781016711291045!3d52.232606289062204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc669a869f01%3A0x72f0be2a88ead3fc!2sWarszawa!5e0!3m2!1spl!2spl!4v1510588353547" width="700" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>
                </div>
           
        </div>
    </div>


