﻿@using CoursesStore.Infrastructure
@model CoursesStore.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Sklep z kursami programowania";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Category Service Area Start-->
<section class="cat-service-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="cat-menu">
                    <ul id="category">
                        <li class="cat-title"><a href="#">Kategorie</a></li>
                        @foreach (var category in Model.Categories)
                        {
                            <li>
                                <a href="@Url.Action("Lists", "Courses", new { categoryName = category.CategoryName.ToLower() })">
                                    @category.CategoryName
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <!--    <div class="cat-service-banner">
                       <a href="#">
                           <img src="img/banner/banner-5.jpg" alt="">
                       </a>
                   </div> -->
                <div class="shop-item-filter">
                    <div class="shop-tab clearfix">
                        <div class="col-md-5">
                            <ul class="breadcrumb">
                                <li><a href="index.html"><i class="fa fa-home"></i>Strona główna</a></li>
                                <li class="active"><a href="#.">ASP.NET</a></li>
                            </ul>
                        </div>

                        <div class="filters">
                            <div class="filter-by">
                                <form action="#">
                                    <div class="select-filter">
                                        Posortuj wg. | &nbsp; &nbsp;
                                        <select>
                                            <option value="">Najnowsze</option>
                                            <option value="">Najstarsze</option>
                                            <option value="">Najtańsze</option>
                                            <option value="">Bestseller</option>
                                        </select>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="tab-content">

                    <div class="row">

                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product">
                                <a href="#">
                                    <img class="primary-img" src="img/product/p-1.jpg" alt="">
                                </a>
                                <div class="product-info">
                                    <h4><a href="#.">Nazwa kursu</a></h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>150.00 zł</h5>
                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product">
                                <a href="#">
                                    <img class="primary-img" src="img/product/p-1.jpg" alt="">
                                </a>
                                <div class="product-info">
                                    <h4><a href="#.">Nazwa kursu</a></h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>150.00 zł</h5>
                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product">
                                <a href="#">
                                    <img class="primary-img" src="img/product/p-1.jpg" alt="">
                                </a>
                                <div class="product-info">
                                    <h4><a href="#.">Nazwa kursu</a></h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>150.00 zł</h5>
                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product">
                                <a href="#">
                                    <img class="primary-img" src="img/product/p-1.jpg" alt="">
                                </a>
                                <div class="product-info">
                                    <h4><a href="#.">Nazwa kursu</a></h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>150.00 zł</h5>
                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product">
                                <a href="#">
                                    <img class="primary-img" src="img/product/p-1.jpg" alt="">
                                </a>
                                <div class="product-info">
                                    <h4><a href="#.">Nazwa kursu</a></h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>150.00 zł</h5>
                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product">
                                <a href="#">
                                    <img class="primary-img" src="img/product/p-1.jpg" alt="">
                                </a>
                                <div class="product-info">
                                    <h4><a href="#.">Nazwa kursu</a></h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>150.00 zł</h5>
                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product">
                                <a href="#">
                                    <img class="primary-img" src="img/product/p-1.jpg" alt="">
                                </a>
                                <div class="product-info">
                                    <h4><a href="#.">Nazwa kursu</a></h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>150.00 zł</h5>
                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                                </div>
                            </div>
                        </div>




                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product">
                                <a href="#">
                                    <img class="primary-img" src="img/product/p-1.jpg" alt="">
                                </a>
                                <div class="product-info">
                                    <h4><a href="#.">Nazwa kursu</a></h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>150.00 zł</h5>
                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination clearfix">

                        <ul>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


