﻿@model IEnumerable<CoursesStore.Models.Category>
 

<div class="col-lg-3 col-md-3">
    <div class="cat-menu">
        <ul id="category">
            <li class="cat-title"><a href="#">Kategorie</a></li>
            @foreach (var kat in Model)
            {
            <li><a href="@Url.Action("Lists", "Courses", new { categoryName = kat.CategoryName.ToLower() })">@kat.CategoryName</a></li>
            }
        </ul>

    </div>

</div>