﻿@using CoursesStore.Infrastructure
@model IEnumerable<CoursesStore.Models.Course>

<div class="clearfix"></div>
<div class="tab-content">

    <div class="row">

@foreach (var kurs in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">


        <div class="single-product">
            <a href="@Url.Action("Details", "Courses", new { coursesId = kurs.CourseId })">
                <img class="primary-img" src="@Url.MyImagePath(kurs.ImageFileName)">
            </a>
            <div class="product-info">
                <h4><a href="#.">@kurs.CourseTitle</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h5>@kurs.CoursePrice</h5>
                <div class="n-a-btn add-to-cart"   data-id="@kurs.CourseId"><a  href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</a></div>
            </div>
        </div>

    </div>
}
                  
       
    </div>
</div>