﻿@using CoursesStore.Infrastructure
@model IEnumerable<CoursesStore.Models.Course>


<div class="col-lg-3 col-md-3 col-sm-3">
    <div class="feature-heading">
        <h3>Polecamy:</h3>
    </div>

@foreach (var rec in Model)
{
    <div class="single-news">
        <div class="single-image">
            <a href="@Url.Action("Details", "Courses", new { coursesId = rec.CourseId })">
                <img class="primary-img" src="@Url.MyImagePath(rec.ImageFileName)">
            </a>
        </div>
        <div class="product-info">
            <h4><a href="@Url.Action("Details", "Courses", new { coursesId = rec.CourseId })">@rec.CourseTitle</a></h4>
            <h5>@rec.CoursePrice</h5>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star grey"></i>
            </div>
        </div>
    </div>
    <br />
}
</div>
