﻿@model CoursesStore.Models.Course
@using CoursesStore.Infrastructure
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Breadcrumbs Start-->
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>@Html.MvcSiteMap().SiteMapPath()</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumbs-->
<!--Product Details Area Start-->
<section class="product-details-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="product-s-l">
                            <div class="product-large">
                                <div class="tab-content">
                                    <div class="tab-pane active in" id="img-1">
                                        <a href="product-details.html"><img alt="" class="zoom_01" src="@Url.MyImagePath(Model.ImageFileName)" data-zoom-image="img/product/p-d-1.jpg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="product-right-details">
                            <div class="product-info">
                                <h4>@Model.CourseTitle</h4>
                                <h5>Cena @string.Format("{0:0.##}", Model.CoursePrice) PLN</h5>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey"></i>
                                    <i class="fa fa-star grey"></i>
                                </div>
                                <p>12 Opinii</p>
                            </div>
                        </div>
                        <div class="borderd-para">
                            <p>Autor kursu: <span>@Model.CourseAuthor</span></p>
                        </div>
                        <p class="details">@Model.CourseDescrpition</p>
                        <div class="p-d-info">
                            <div class="product-info">
                                <div class="n-a-btn add-to-cart" data-id="@Model.CourseId"><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</a></div>
                            </div>
                        </div>
                    </div>
                    @Html.Action("Recommended")

                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="p-details-tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#opis" aria-controls="opis" role="tab" data-toggle="tab">Opis</a></li>
                                <li role="presentation"><a href="#spis" aria-controls="spis" role="tab" data-toggle="tab">Spis treści</a></li>
                                <li role="presentation"><a href="#opinie" aria-controls="opinie" role="tab" data-toggle="tab">Oceny i komentarze</a></li>
                                <li role="presentation"><a href="#kursyautora" aria-controls="kursyautora" role="tab" data-toggle="tab">Pozostałe kursy autora</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="tab-content review">
                            <div role="tabpanel" class="tab-pane active" id="opis">
                                <p>
                                    @Model.CourseOpinion
                                </p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="opinie">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="review-right">
                                            <h4>Zostaw opinie i komentarz pod kursem</h4>
                                            <form action="" method="post">
                                                <div class="row form-top">
                                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                                        <label>Tytuł<span title="required" class="required">*</span></label>
                                                        <input type="text" class="form-control" name="subject">
                                                    </div>
                                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                                        <label>Treść komentarza<span title="required" class="required">*</span></label>
                                                        <textarea class="yourmessage" name="message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="submit-form form-group col-sm-12 submit-review">
                                                    <a class="add-tag-btn" href="#">Opublikuj</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="spis">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>1. Pobieranie i instalacja środowiska (4:49) </p>
                                        <p>2. Omówienie najważniejszych elementów kompilatora (10:21)</p>
                                        <p>3. Pdostawy języka C# (29:43)</p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="kursyautora">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img class="primary-img" src="img/product/p-1.jpg" alt="">
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#.">Nazwa kursu</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>150.00 zł</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img class="primary-img" src="img/product/p-1.jpg" alt="">
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#.">Nazwa kursu</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>150.00 zł</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img class="primary-img" src="img/product/p-1.jpg" alt="">
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#.">Nazwa kursu</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>150.00 zł</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img class="primary-img" src="img/product/p-1.jpg" alt="">
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#.">Nazwa kursu</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>150.00 zł</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of product-details Area-->
@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")
    @System.Web.Optimization.Scripts.Render("~/bundles/Courses")
}