﻿
@{
    ViewBag.Title = "Lists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Category Service Area Start-->
<section class="cat-service-area">
    <div class="container">
        <div class="row">

            @Html.Action("CategoriesMenu")

            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <!--    <div class="cat-service-banner">
                       <a href="#">
                           <img src="img/banner/banner-5.jpg" alt="">
                       </a>
                   </div> -->
                <div class="shop-item-filter">
                    <div class="shop-tab clearfix">
                        <div class="col-md-5">
                            <ul class="breadcrumb">
                                <li>@Html.MvcSiteMap().SiteMapPath()</li>
                            </ul>
                        </div>

                        <div class="filters">
                            <div class="filter-by">
                                <form action="#">
                                    <div class="select-filter">
                                        Posortuj wg. | &nbsp; &nbsp;
                                        <select>
                                            <option value="">Najnowsze</option>
                                            <option value="">Najstarsze</option>
                                            <option value="">Najtańsze</option>
                                            <option value="">Bestseller</option>
                                        </select>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="tab-content">

                    <div class="row">
                        <div id="SectionCategoryList">
                            @Html.Partial("_CoursesList")
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pagination clearfix">

                            <ul>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")
   @System.Web.Optimization.Scripts.Render("~/bundles/Courses")
}